* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#content {
	width: 800px;
	margin: 0 auto;
}
#mw-navigation, #footer {
	background: #f1f1f1;
	width: 800px;
	margin: 0 auto;
}
h1, h2, h3, h4 {
	color: tomato;
}
p a {
	font-weight: bold;
}
a {
	color: tomato;
}